.overtitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(12px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(16px);
  }
}

.subtitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(16px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(22px);
  }
}

.box {
  position: relative;
  margin-top: -70px;
  padding-top: 70px;
  border-bottom-right-radius: 40% 15%;
  border-bottom-left-radius: 40% 15%;
}

.container {
  position: relative;
  z-index: 1;
}
