.button img {
  transition: opacity 500ms ease;
}

.button:hover img {
  opacity: 0.5;
}

.button:hover button {
  opacity: 1;
}

.button button {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease;
}
