.root {
  background-color: #ea4651;
  background-size: 100%;
  background-position: 0 -280px;
  height: 380px;
  position: relative;
}

.root::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
  pointer-events: none;
}

.inner {
  display: flex;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.title {
  color: #fff;
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1.05;
  font-size: rem(48px);
  font-weight: 600;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.15;
  }
}

.description {
  color: #ea4651;
  opacity: 0.75;
  font-size: rem(20px);
  width: 450px;
  color: #fff;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(14px);
    display: none;
  }
}
