.root {
  height: 320px;
  @media (min-width: $mantine-breakpoint-md) {
    background-repeat: no-repeat;
    background-size: 55%;
    height: 500px;
    background-position: 105% 25%;
    background-image: url('https://cdn.shopify.com/s/files/1/0682/4060/5458/files/beauty-image.png?v=1704382815');
  }
}

.flex {
  width: 100%;
  height: 80%;
  gap: var(--mantine-spacing-lg);
  @media (min-width: $mantine-breakpoint-md) {
    gap: var(--mantine-spacing-lg);
    height: 80%;
    width: 50%;
  }
}

.title {
  font-size: rem(24);
  font-weight: 400;
  line-height: 40px;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(42);
    line-height: 50px;
  }
}

.subtitle {
  font-size: rem(16);
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(28);
  }
}

.button {
  --button-height: rem(40);
  --button-padding-x: rem(18);
  --button-fz: rem(18);
  @media (min-width: $mantine-breakpoint-md) {
    --button-height: rem(50);
    --button-padding-x: rem(20);
    --button-fz: rem(22);
  }
}
