.card {
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  padding-top: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-md) {
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-lg);
  }
}

.icon {
  width: rem(30);
  height: rem(30);

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(48);
    height: rem(48);
  }
}

.text {
  font-size: rem(12);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(14);
  }
}
