.root {
  height: 350px;
  @media (min-width: $mantine-breakpoint-md) {
    background-repeat: no-repeat;
    background-size: 50%;
    height: 500px;
    background-position: 100% 25%;
    background-image: url('/beauty-image.png');
  }
}

.flex {
  width: 100%;
  height: 80%;
  gap: var(--mantine-spacing-lg);
  @media (min-width: $mantine-breakpoint-md) {
    gap: var(--mantine-spacing-lg);
    height: 90%;
    width: 50%;
  }
}

.title {
  font-size: rem(26);
  font-weight: 600;
  line-height: 40px;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(52);
    line-height: 60px;
  }
}

.subtitle {
  font-size: rem(20);
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(28);
  }
}

.button {
  --button-height: rem(40);
  --button-padding-x: rem(18);
  --button-fz: rem(18);
  @media (min-width: $mantine-breakpoint-md) {
    --button-height: rem(50);
    --button-padding-x: rem(20);
    --button-fz: rem(22);
  }
}
