.root {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(28px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(54px);
  }
}

.overtitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(12px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(16px);
  }
}

.subtitle {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(16px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(22px);
  }
}
