.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  @media (max-width: $mantine-breakpoint-sm) {
    flex: 0 0 100%;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    flex: 0 0 25%;
  }

  @media (min-width: $mantine-breakpoint-md) {
    flex: 0 0 20%;
  }

  min-width: 0;
  padding-left: var(--slide-spacing);
}
