.padding {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $mantine-breakpoint-sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
