.flex {
  flex-direction: column;

  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
  }
}

.innerFlex {
  @media (min-width: $mantine-breakpoint-md) {
    flex: 0 0 30%;
  }
}

.sticky {
  padding: 1rem;
  @media (min-width: $mantine-breakpoint-md) {
    position: sticky;
    top: 0;
    padding: 3rem;
  }
}
