.root {
  border-width: 2px;
  transition: border-color 150ms ease;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    border-color: var(--mantine-primary-color-filled);
  }
}
