.card {
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--mantine-shadow-sm);
    z-index: 10;
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}
