.title {
  font-size: var(--mantine-font-size-xl);
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(28);
  }
}

.description {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
